*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

main {
  margin-top: 80px; 
  margin-left: 350px; 
  margin-right: 350px; 
  padding: 20px;
}

.nav-bar {
  position: fixed;
  width: 100%;
  background: orange;
  box-shadow: 0px 2px 15px black;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.5rem;
  z-index: 10;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  width: 100%;
}

h1{
  font-weight: bold;
}

.h1hubcolor{
  color: white;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 700px; 
  background: white;
  padding-right: 0.3rem;
}
.search-bar input[type="text"] {
  flex: 1;
  border: none;
  padding: 0.5rem 1rem;
}

form.search-bar button {
  color: white;
  background: orange;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
form.search-bar button:hover {
  background: #ff9800;
}

form.search-bar button:active{
  background: #e68900;
}

.nav-buttons{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.p-btn{
  color: rgb(220, 219, 219);
}
.signup-btn{
  text-decoration: none;
  font-weight: bold;
  border: none;
  background: none;
  color: white;
  padding-right: 2px;
}

.signup-btn:hover{
  cursor: pointer;
  opacity: 0.8;
}

.signup-btn:active{
  color: orange;
}

.signin-btn{
  text-decoration: none;
  font-weight: bold;
  border: none;
  background: none;
  color: white;
}

.signin-btn:hover{
  cursor: pointer;
  opacity: 0.8;
}

.signin-btn:active{
  color: orange;
}

.navbar-left{
  position: fixed;
  background: orange;
  box-shadow: 0px 2px 15px black;
  top: 80px;
  left: 0;
  width: 300px;
  height: 100vh;
  z-index: 5;
  padding: 1.5rem;
}


.navbar-right{
  position: fixed;
  background: orange;
  box-shadow: 0px 2px 15px black;
  top: 80px;
  right: 0;
  width: 300px;
  height: 100vh;
  z-index: 5;
  padding: 1.5rem;
}

.home-page{
  background-image: url(/images/foodhub_login-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem;
  box-shadow: 0px 2px 15px black;
  border-radius: 18px;
}
.home-page h2{
  text-align: center;
  color: white;
}

.h2-daily{
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 4px black;
}

.h2-discover{
  color: orange;
  font-weight: bold;
  text-shadow: 2px 2px 4px black;
}