*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body{
  
}

nav{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  background: orange;
  box-shadow: 0px 2px 15px black;
  top: 0;
  right: 0;
  left: 0;
  padding: 1rem;
}

.navul{
  display: flex;
  gap: 2rem;
}

.navli{
  list-style: none;
}

.navli a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.navli a:hover{
  opacity: 0.5;
}
.navli a:active{
  color: white;
}

h1{
  font-weight: bold;
}

.h1hubcolor{
  color: white;
}

.home-page{
  
}
